.head {
    text-align: center;
}


.body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

h1, h2{
    color: rgb(11, 64, 223);
}

.head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head p {
    line-height: 8px;
    display: inline;
}

.position{
    margin-top: -5px;
}

hr {
    border: 1px dashed rgba(0, 0, 0, 0.37);
}

.description {
    /* width: 80%; */
    padding-left: 50px;
}

#description {
    /* width: 80%; */
    padding-left: 50px;
}

#description ul {
    padding-left: 16px;
}

#last {
    padding-left: 66px;
}

.skills {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(14, 95, 177);
    font-weight: bold;
}